body {
  font-family: 'Helvetica';
  letter-spacing:-5px;
  background:#000;
  background-size:100%;
  color:#fff;
  margin:0;
  padding:0;
  font-weight:bold;
}

h1, h2, h3, p {
  margin:0;
}

em, a {
  font-style:normal;
  color:#8dbd0c;
}
.mac{
  color:#66cc00;
}

.ip{
  color:#ff0033;
  
}

.tcp{
  color:#ff6600;
}

.http{
  color:#009999;
}

a {
  background: #34d0e7;
  color:#000;
  text-decoration:none;
}

img {
  min-height:100vh;
  max-height: 100vh;
  display:inline-block;

}

.payload{
  font-size:80px;
  letter-spacing:-5px;
}
.small {
  min-height:75vh;
  max-height: 75vh;
  display:inline-block;
  vertical-align: middle;
}

div {
  cursor:pointer;
  cursor:hand;
  position:absolute;
  top:0px;
  left:0px;
  padding:75px;
  line-height:97%;
  background-origin: content-box;
}

div.center {
  text-align:center;
}

div.imageText {
  text-shadow:0px 0px 5px rgba(0,0,0,0.2);
}
